blinker
certifi
cffi
click
contourpy
cycler
Flask
fonttools
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
pillow
pycparser
pyparsing
python-dateutil
pytz
six
tzdata
Werkzeug
